<div id="footer" class="row">
    <div id="info" class="col-12 col-sm-6">
        <p id="contact">CONTACTA CON NOSOTROS</p>
        <p id="infcontanct">controlhubsl@info.ch.es</p>
        <p id="infcontanct">Teléfono: 921 23 45 67</p>
        <div id="icons">
            <a href="https://www.instagram.com/jonatanc4/">
                <img src="../view/icons/instagram.png">
            </a>
            <a href="https://twitter.com/Sirinazurey">
                <img src="../view/icons/twitter.png">
            </a>
            <a href="https://www.tiktok.com/@sirinazurey">
                <img src="../view/icons/tiktok.png">
            </a>
            <a href="">
                <img src="../view/icons/facebook.png">
            </a>
        </div>
    </div>
    <div id="mapa" class="col-12 col-sm-6">
        <iframe src="https://www.google.com/maps/d/embed?mid=1jjdI1Wm-el7BGgEI8L-Vjp3GL9E&hl=es&ehbc=2E312F" width="640vw" height="300vw"></iframe>
    </div>
</div>

</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>